 /*
 common veribles
 */

 $commom-btn-bg :#d95d18;
 $commom-btn-bg-hover :#ad480f;
 $footer-btn-bg :#4CAF50;
 $footer-btn-bg-hover :#4CAF50;
 $header-btn-bg :#1c2124;
 $white:#fff;
 $text-color:#333;

 /**
 date strip class
 */
 $date-strip-bg : #66191c;
 $date-strip-bg-active : #bc5e61;
 $datestrip-border-right-color :#945151;