 /*
 common veribles
 */

 $commom-btn-bg : #0093E0;
 $commom-btn-bg-hover:#0e78af;
 $footer-btn-bg :#4CAF50;
 $footer-btn-bg-hover :#4CAF50;
 $header-btn-bg :#f2f2f2;
 $white:#fff;
 $text-color:#333;

 /**
 date strip class
 */
 $date-strip-bg : #66191c;
 $date-strip-bg-active : #bc5e61;
 $datestrip-border-right-color :#945151;