.btn-container {
  display: flex;
  padding: 20px 0;
  justify-content: center;
}
.action-btn{
  padding: 15px 0;
  font-size: 21px;
}

.main {
  top: 20%;
  position: absolute;
  left: 10%;
  width: 80%;
}
