<div class="header">
    <div class="row">
        <div class="col">
            <div ngbDropdown class="d-inline-block">
                <button class="btn btn-outline-primary" id="languageDropdown" ngbDropdownToggle>
                    {{'label_select_language'| translate}}
                </button>
                <div ngbDropdownMenu aria-labelledby="languageDropdown">
                    <button ngbDropdownItem>{{'label_english_language'| translate}}</button>
                    <button ngbDropdownItem>{{'label_hindi_language' | translate}}</button>
                </div>
            </div>
        </div>
    </div>
</div>