<div class="header">
    <div class="row">
        <div class="col">
            <div ngbDropdown class="d-inline-block">
                <button class="btn btn-outline-primary" id="languageDropdown" ngbDropdownToggle>
                    <div *ngIf="languageCodes.english === currentLanguage; else hindiLanguageTemplate">
                        {{'label_english_language'| translate}}
                    </div>
                    <ng-template #hindiLanguageTemplate>
                        {{'label_hindi_language' | translate}}
                    </ng-template>
                </button>
                <div ngbDropdownMenu aria-labelledby="languageDropdown">
                    <div ngbDropdownItem (click)="changeLanguage(languageCodes.english)">
                        {{'label_english_language'| translate}}</div>
                    <div ngbDropdownItem (click)="changeLanguage(languageCodes.hindi)">
                        {{'label_hindi_language' | translate}}</div>
                </div>
            </div>
        </div>
    </div>
</div>