<nav class="site-header sticky-top py-1">
    <div class="container clearfix">
        <div class="float-left">
            <a class=" float-left" href="#" style="width: 60px;">
                <img class="w-100" title="Safal Kisaan" src="assets/images/logo.png">
            </a>
        </div>
        <div class="float-right login-details">
            <label class="login-details-name" *ngIf="context">{{context.name}}
            </label>
            <div ngbDropdown class="d-inline-block header-language-dropdown">
                <button class="btn btn-outline-primary languageDropdown" id="languageDropdown" ngbDropdownToggle>
                    <div *ngIf="languageCodes.english === currentLanguage; else hindiLanguageTemplate">
                        {{'label_english_language'| translate}}
                    </div>
                    <ng-template #hindiLanguageTemplate>
                        {{'label_hindi_language' | translate}}
                    </ng-template>
                </button>
                <div ngbDropdownMenu aria-labelledby="languageDropdown">
                    <div ngbDropdownItem (click)="changeLanguage(languageCodes.english)">
                        {{'label_english_language'| translate}}</div>
                    <div ngbDropdownItem (click)="changeLanguage(languageCodes.hindi)">
                        {{'label_hindi_language' | translate}}</div>
                </div>
            </div>

            <div class="header-cart" *ngIf="context && context.type === contextTypes.user">
                {{ cartItemsCount }}
            </div>
            <a class="pr-1 ml-2 login-details-icon" href="#">
                <i class="fa fa-sign-in"></i>
            </a>
        </div>
    </div>
    <div class="header-actions" *ngIf="context">
        <div (click)="isOpen = !isOpen">Action</div>
        <div *ngIf="isOpen">
            <div (click)="logoutUser(); isOpen = false;">Logout</div>
        </div>
    </div>
</nav>