@import "../../../assets/scss/veriables.scss";

.feed {
  .col {
    padding-right: 5px;
    padding-left: 5px;
  }
  .padding-0 {
    padding: 0;
  }
  .padding-left-10 {
    padding-left: 10px;
  }

  .city-title {
    padding-top: 10px;
  }

  .market {
    margin-top: -5px;
  }
}
.proceed {
  bottom: 0;
  position: fixed;
}


.footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: $footer-btn-bg ;
  color:$white;
  text-align: center;
}
a.footer-btn, a.footer-btn:hover, a.footer-btn:active  {
   text-decoration: none;
   color:$white;
}

