<p>
  farmer-feed works!
</p>
<div>
  <div class="col">
    <div ngbDropdown class="d-inline-block">
      <button
        class="btn btn-outline-primary"
        id="dropdownBasic1"
        ngbDropdownToggle
      >
        {{ vegModel }}
      </button>
      <div ngbDropdownMenu aria-labelledby="dropdownBasic1">
        <ng-container *ngFor="let veg of vegetables">
          <button (click)="selectVegetable()" ngbDropdownItem>
            {{ veg.labelKey }}
          </button>
        </ng-container>
      </div>
    </div>
  </div>
  <div class="col">
    <input
      type="number"
      placeholder="price"
      class="form-control"
      [(ngModel)]="price"
    />
  </div>
  <div class="col">
    <input
      type="number"
      placeholder="price"
      class="form-control"
      [(ngModel)]="quantity"
    />
  </div>
</div>
