@import "../../../assets/scss/veriables.scss";

.product-search-input{
    width: 100%;
    margin-bottom: 10px;
}
.product-image{
    width:120px;
}
.product-price{
    float: left;
    margin-right: 30px;
}
.product-label{
    margin-bottom: 2px;
}
.product-quantity-holder{
    float: left;
}
.label-entry{
    margin-right: 10px;
}
.product-holder{
    border-bottom: 1px solid $header-btn-bg;
}
.product-quantity-input{
    width: 60px;
}
.product-add{
    
}
.product-error{
    color: red;
}