@import "../../../assets/scss/veriables.scss";

.product-list-container{
    margin-bottom: 50px;
}
.product-search-input{
    width: 100%;
    margin-bottom: 10px;
}
.product-image{
    width:100%;
    border-bottom: 1px solid $user-product-border-bottom;
}

.product-label{
    margin-bottom: 2px;
}
.product-quantity-holder{
    float: left;
}
.label-entry{
    margin-right: 10px;
}
.product-holder{
    padding: 10px 0;
    border-bottom: 1px solid $user-product-border-bottom;
}
.product-quantity-input{
    width: 60px;
}
.product-bottom-holder {
    position: fixed;
    bottom: 0;
    width: 100%;
    background-color:$white;
}
.proceed-btn{
    width: 100%;
    height: 100%;
    border-radius: 0;
    background-color: $footer-btn-bg;
    border-color: $footer-btn-bg;
}
.proceed-button-holder{
    padding: 0;
    .proceed-error{
        color:$error-color;
        position: absolute;
        width: 100%;
        text-align: center;
        bottom: -16px;
        font-size: 14px;
    }
}
.product-error{
    color:$error-color;
}
.price-label{
    margin-right: 10px;
}

.btn.btn-primary {
    &.common-btn.product-add {
    position: absolute;
    right: 10px;
    bottom: 0;
    }
}