/* You can add global styles to this file, and also import other style files */
@import '../node_modules/bootstrap/dist/css/bootstrap.min.css';

@import 'assets/scss/veriables.scss';

.common-btn {
    background-color:$commom-btn-bg;
    border-color:$commom-btn-bg;    
    &.btn-primary:not(:disabled):not(.disabled).active, 
    &.btn-primary:not(:disabled):not(.disabled):active,
    &.btn-primary:hover, &.btn-primary:active{
        background-color:$commom-btn-bg-hover;
        border-color:$commom-btn-bg-hover;
        box-shadow: 0 0 0 0 $white;
    } 
    &.btn-primary.focus, &.btn-primary:focus {
        box-shadow: 0 0 0 0 $white;
        background-color:$commom-btn-bg-hover;
        border-color:$commom-btn-bg-hover;
    }
}

.common-inputs:focus, .common-inputs:active {
    border-color:$footer-btn-bg;
    box-shadow: 0 0 0 0 $white;
}


.footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: $footer-btn-bg ;
    color:$white;
    text-align: center;
 }
 a.footer-btn, a.footer-btn:hover, a.footer-btn:active  {
     text-decoration: none;
     color:$white;
 }



 
 .date-strip {
    color: $white;    
    .bg-column{
        background-color: $date-strip-bg;
        border-right: 1px solid $datestrip-border-right-color;  
        &:last-child {
            border-width: 0;
        } 
        &.active, &:hover, &:active{
            background-color:  $date-strip-bg-active ;
        }
    }
}